.customisation-mobile {
    position: relative;
    min-height: 80vh;
    background: #35436A;
    padding: 3rem 0;

    @include medium-up {
        display : none;
    }
    &__form {
       // position: relative;

        &:focus {
            outline: none;
        }
    }

    &__carousel {
        position : relative;
        &:focus {
            outline: none;
        }
    }
    &__cell {
        width: 100%;
    }
    &__strap {
       width: 100%;
    }

    &__buttons {
        width: fit-content;

        .customosation-mobile__button {
            &.-active {
                background-color : $white;
                color : #35436A;
            }
        }
    }

    &__dial {
        position: absolute;
        width: 100%;
        height: auto;
        top : 0;
        left : 0;
        pointer-events: none;
        display: none;
        padding: 3rem 0;

        &.-onScreen {
            display: block;
        }
    }

}

.flickity-page-dots {
    display: none;
  }