/*Container*/
.reinssurance {
	display : grid;
	grid-template-columns : repeat(3, 2fr);
	grid-auto-rows : minmax(rem(100px), auto);
	grid-gap : rem(32);

	@include medium-down {
		transform: translateY(-12%);
		padding : 0;
		box-shadow : 0px 1px 40px rgba(33,33,33,0.25);
	}

	
	&__card {
		background-color : $white;
		border-radius : rem(5);
		box-shadow : 1px 1px 40px -15px rgba(33,33,33,0.25);

		display : flex;
		flex-flow : column;
		justify-content : space-between;

		img {
			border-top: 6px solid $primary-color;
			display : block;
			width : 100%;
		}
	}

	&__buttons {

		display: flex;
		justify-content: space-between;

		a {
			display : inline-block;
			width: fit-content;

			&::nth-of-type(1) {
				margin-bottom : rem(8);
			}
		}
	}

	&__content {
		padding: rem(16);
		p {
			padding: rem(15) 0;
		}
	}

	@include medium-down() {
		grid-template-columns : repeat(1, 1fr);
	}
}

/* Ronds */
.fonctionnalites {
	margin: rem(64) auto;
	h2 {
		font-weight: 600;
		text-align: center;
		margin-bottom: rem(50);
	}
	&__container {
		display: flex;
		flex-flow : row wrap;
		margin-top: rem(42);
	}

	&__image {
		margin : rem(16) auto;
		img {
			padding :10px;
			border : 2px solid #559BD9;
			border-radius : 50%;
			margin: 0 auto;
    		display: block;
		}

		p {
			text-align : center;
			margin : rem(8) 0;
		}
	}
}