.functionalities-menu {
    margin : rem(64) auto;
    
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include medium-down {
            grid-template-columns: 1fr;
        }
    }
}