.top-banner {
    display : flex;
    flex-flow : column;
    justify-content : center;
    align-items : center;
    position : relative;
    height : 100vh;

    &__img {
        width: rem(600);
    }

    .top-banner_title {
        position : absolute;
        top : 11%;
        height : fill-available;
        color: $white;
        @include medium-up() {
            top : 0;
        }

        span {
            position : absolute;
            bottom : 30%;
            width: max-content;
            left: 50%;
            transform: translate3d(-50%, 0px, 0px);
            @include medium-up() {
                bottom : 8%;
            }
        }
    }

    .button {
        position : absolute;
        bottom : rem(48);
    }
}

.product-header {
    background-image : url("images/product_page.png");
    &__title {
        font-size : rem(90);
        color : $white;
        text-transform : uppercase;
    }
    &__subtitle {
        color : $white;
    }
}

