.top-banner {
    display : flex;
    flex-flow : column;
    justify-content : center;
    align-items : center;
    position : relative;
    height : 100vh;

    &__img {
        width: rem(600);
        max-width: fit-content;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(50%);
        z-index: -1;
    }

    .site-title {
        position : absolute;
        top : 0;
        height: inherit;
        color: $white;
        z-index: 0;
        @include medium-up() {
            top : 0;
        }

        span {
            position : absolute;
            bottom : 30%;
            width: max-content;
            left: 50%;
            transform: translate3d(-50%, 0px, 0px);
            z-index: -2;
            @include medium-up() {
                bottom : 8%;
            }
        }
    }

    .button {
        position : absolute;
        bottom : rem(48);
    }
}

.product-header {
    background-image : url("images/product_page.png");
    background-size: cover;
    background-position: center;
    &__title {
        font-size : rem(90);
        color : $white;
        text-transform : uppercase;
    }
    &__subtitle {
        color : $white;
    }
}

