.error-404 {
    min-height : 90vh;
    display: flex;
    flex-flow : column;
    justify-content : center;
    position : relative;

    &__img {
        position : absolute;
        right : 0;
        top : 0;
        bottom : 0;

        @include medium-down {
            display: none;
        }
    }

    .page-content {
        p {
            margin-bottom : rem(32);
        }
    }
}
