/*#######################################################

Table des matières :

    #1 Colours
        @1 Base
        @2 Variations
        @3 Typography
        @4 States

    #2 Typography
    #3 Transitions
    #4 Other

#########################################################*/

/* -----------------------------------------------------
    #1 Colours
----------------------------------------------------------*/

/* @1 Base ----------------------------------------*/

$primary-color : #559bd9;
$primary-color-dark : #35436A;
$primary-color-light : #88B9E5;
$secondary-color : #9D9CA6;
$secondary-color-light : #C9C8CD;
$secondary-color-lighter : #E4E4E4;


/* @2 Variations ----------------------------------------*/

$white : #F2F2F2;
$black : #212121;
$black-light :  #424242;


/* @3 Typography ----------------------------------------*/

$text-color : $black;


/* @4 States ----------------------------------------*/

$red : #E90000;
$green : #04AF00;


/* -----------------------------------------------------
    #2 Typography
----------------------------------------------------------*/

$font-title : "Maven Pro", sans-serif;
$font-family : "Open Sans", sans-serif;
$baseFont : 16; // en px

/* -----------------------------------------------------
    #3 Transitions
----------------------------------------------------------*/

$transition : 0.3s ease all;

/* -----------------------------------------------------
    #4 Other
----------------------------------------------------------*/
$maxColumns : 12;
$triggerlength : 4;

