.cart-page {
  margin-top: rem(50);
  .cart__title {
    position: relative;
    margin-bottom: rem(50);
    &:after {
      background-color: $black;
      bottom: rem(-15);
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 60px;
    }
  }
}